*{
 margin: 0px;
 padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
   
}

#grupo{
    max-width: 350px;
    margin: 0px auto;
    
    
   
   
}
#card{
    background-color: white;
    padding: 18px;
border-radius: 17px;
text-align: center;
margin: 0 1rem;
    
}

#card img{
    width: 100%;
    border-radius: 12px;
    padding: 0px;
    
}

#text{
    padding: 12px 10px;
}
h1{
    font-size: 20px;

 }

img{
 padding: 0 100px;

}